* {
    font-family: axia-stencil, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav-container {
    z-index:2;
    position: fixed;
    display: flex;
    background: var(--dark-color);
    width: 100%;
    line-height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-container ul, a {
    list-style: none;
    text-decoration:none;
    color: white;
    display: flex;
    align-items: center;
    width: 80%;    
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 40px;
}

.liste {
    list-style: none;
    background: var(--dark-color);
    height:100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    position: relative;
    margin:0;
    padding:0;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var( --orange-color);
}

.items {
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
.logo {
    padding-left:50px;
}

.nav-container img {
    width: 185px;
    margin-top: 10px;
}
.menu-burger {
    display: none;
}

@media screen and (max-width:768px) {
    .logo {
        padding-left:5px;
    }
    
    .liste {
        position: absolute;
        top:53px;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background: black;
        border: 1 solid var(--col-orange);
    }
    .items:nth-child(1) {
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 60%;
        border-bottom: 1px solid var(--orange-color);
        line-height: 50px;
        color: black;

    }
    .nav-container ul a {
        color:var(--dark-color);
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        background: black;
    }
    .menu-burger {
        display: block;
        position: absolute;
        right: 30px;
        top: 10px;
        color: var(--orange-color);
        cursor:pointer;
    }
}